.TabelaProduto table {
    width: 100%;
}
.TabelaProduto th {
    background-color: rgb(69, 34, 139);
    color: rgb(255, 255, 255);
}
.TabelaProduto .Par {
    background-color: #ddd;
}
.TabelaProduto .Impar {
    background-color: #ccc;
}